header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: .5rem;
  border-bottom: 1px solid var(--border);
  padding-bottom: 0.8rem;
  height: 48px;
  background: white;
}


.menu {
  display: flex;
  gap: 1rem;
}

.menu div {
  background: var(--btn-secondary);
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.2s;
}

.menu div:hover {
  background: var(--btn-secondary-hover);
}


.display-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
}

.author-name {
  margin-left: 0.5rem;
  font-weight: 600;
  vertical-align: middle;
}
